.ui {
    margin: 20px 0;
}

.ui .group {
    display: inline-block;
    padding: 0px 0px;
    margin-right: 10px;
    /*border: 1px solid #ccc;*/
}

.notgroup {
    margin-right: 10px;
}

.ui .uirow {
    margin-top: 15px;
}